EFD_REINF/Service References/WsReinf/Sinacor.Infra.Common.Exceptions.FaultContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" elementFormDefault="qualified" targetNamespace="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="InvalidSessionFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseLogFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InvalidSessionFault" nillable="true" type="tns:InvalidSessionFault" />
  <xs:complexType name="BaseLogFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="LogData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SourceAddress" nillable="true" type="xs:anyURI" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseLogFault" nillable="true" type="tns:BaseLogFault" />
  <xs:complexType name="BaseFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseFault" nillable="true" type="tns:BaseFault" />
  <xs:complexType name="GeneralFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseErrorNumberFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GeneralFault" nillable="true" type="tns:GeneralFault" />
  <xs:complexType name="BaseErrorNumberFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseLogFault">
        <xs:sequence>
          <xs:element minOccurs="0" name="ErrorNumber" type="xs:int" />
          <xs:element minOccurs="0" name="ResourceKey" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseErrorNumberFault" nillable="true" type="tns:BaseErrorNumberFault" />
  <xs:complexType name="BusinessFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseErrorNumberFault">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parameters" nillable="true" type="q1:ArrayOfanyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BusinessFault" nillable="true" type="tns:BusinessFault" />
  <xs:complexType name="ValidationFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseLogFault">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ValidationErrors" nillable="true" type="q2:ArrayOfKeyValueOfintValidationErrory2K04te1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ValidationFault" nillable="true" type="tns:ValidationFault" />
  <xs:complexType name="LicensingFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseErrorNumberFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LicensingFault" nillable="true" type="tns:LicensingFault" />
  <xs:complexType name="AccessIsDeniedFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseLogFault">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccessIsDeniedFault" nillable="true" type="tns:AccessIsDeniedFault" />
</xs:schema>