EFD_REINF/Service References/WsReinf/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/Imports">
      <xsd:import namespace="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services" />
      <xsd:import namespace="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://www.sinacor.com.br/Sinacor.Infra.Common.Validation/2008/08" />
      <xsd:import namespace="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService" />
      <xsd:import namespace="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationEntity.Request" />
      <xsd:import namespace="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationEntity.Response" />
      <xsd:import namespace="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationEntity" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConsultaEFD_Authenticate_InputMessage">
    <wsdl:part xmlns:q1="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services" name="parameters" element="q1:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate_OutputMessage">
    <wsdl:part xmlns:q2="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services" name="parameters" element="q2:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate_InvalidSessionFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q3:InvalidSessionFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate_GeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q4:GeneralFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate_BusinessFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q5:BusinessFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q6:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate_LicensingFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q7:LicensingFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate_AccessIsDeniedFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q8:AccessIsDeniedFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate2_InputMessage">
    <wsdl:part xmlns:q9="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services" name="parameters" element="q9:Authenticate2" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate2_OutputMessage">
    <wsdl:part xmlns:q10="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services" name="parameters" element="q10:Authenticate2Response" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate2_LicensingFaultFault_FaultMessage">
    <wsdl:part xmlns:q11="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q11:LicensingFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate2_AccessIsDeniedFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q12:AccessIsDeniedFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate2_BusinessFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q13:BusinessFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate2_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q14:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate2_GeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q15:GeneralFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate2_InvalidSessionFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q16:InvalidSessionFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate3_InputMessage">
    <wsdl:part xmlns:q17="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services" name="parameters" element="q17:Authenticate3" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate3_OutputMessage">
    <wsdl:part xmlns:q18="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services" name="parameters" element="q18:Authenticate3Response" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate3_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q19="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q19:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate3_BusinessFaultFault_FaultMessage">
    <wsdl:part xmlns:q20="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q20:BusinessFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate3_GeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q21="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q21:GeneralFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate3_InvalidSessionFaultFault_FaultMessage">
    <wsdl:part xmlns:q22="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q22:InvalidSessionFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate3_LicensingFaultFault_FaultMessage">
    <wsdl:part xmlns:q23="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q23:LicensingFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate3_AccessIsDeniedFaultFault_FaultMessage">
    <wsdl:part xmlns:q24="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q24:AccessIsDeniedFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate4_InputMessage">
    <wsdl:part xmlns:q25="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services" name="parameters" element="q25:Authenticate4" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate4_OutputMessage">
    <wsdl:part xmlns:q26="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services" name="parameters" element="q26:Authenticate4Response" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate4_AccessIsDeniedFaultFault_FaultMessage">
    <wsdl:part xmlns:q27="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q27:AccessIsDeniedFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate4_BusinessFaultFault_FaultMessage">
    <wsdl:part xmlns:q28="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q28:BusinessFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate4_LicensingFaultFault_FaultMessage">
    <wsdl:part xmlns:q29="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q29:LicensingFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate4_InvalidSessionFaultFault_FaultMessage">
    <wsdl:part xmlns:q30="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q30:InvalidSessionFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate4_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q31="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q31:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate4_GeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q32="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q32:GeneralFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate5_InputMessage">
    <wsdl:part xmlns:q33="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services" name="parameters" element="q33:Authenticate5" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate5_OutputMessage">
    <wsdl:part xmlns:q34="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services" name="parameters" element="q34:Authenticate5Response" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate5_BusinessFaultFault_FaultMessage">
    <wsdl:part xmlns:q35="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q35:BusinessFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate5_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q36="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q36:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate5_LicensingFaultFault_FaultMessage">
    <wsdl:part xmlns:q37="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q37:LicensingFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate5_AccessIsDeniedFaultFault_FaultMessage">
    <wsdl:part xmlns:q38="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q38:AccessIsDeniedFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate5_InvalidSessionFaultFault_FaultMessage">
    <wsdl:part xmlns:q39="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q39:InvalidSessionFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate5_GeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q40="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q40:GeneralFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate6_InputMessage">
    <wsdl:part xmlns:q41="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services" name="parameters" element="q41:Authenticate6" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate6_OutputMessage">
    <wsdl:part xmlns:q42="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services" name="parameters" element="q42:Authenticate6Response" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate6_AccessIsDeniedFaultFault_FaultMessage">
    <wsdl:part xmlns:q43="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q43:AccessIsDeniedFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate6_GeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q44="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q44:GeneralFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate6_BusinessFaultFault_FaultMessage">
    <wsdl:part xmlns:q45="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q45:BusinessFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate6_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q46="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q46:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate6_LicensingFaultFault_FaultMessage">
    <wsdl:part xmlns:q47="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q47:LicensingFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_Authenticate6_InvalidSessionFaultFault_FaultMessage">
    <wsdl:part xmlns:q48="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q48:InvalidSessionFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultaListaRetencaoClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaListaRetencaoClientes" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultaListaRetencaoClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaListaRetencaoClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultaListaRetencaoClientes_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q49="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q49:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultaListaRetencaoClientes_InvalidSessionFaultFault_FaultMessage">
    <wsdl:part xmlns:q50="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q50:InvalidSessionFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultaListaRetencaoClientes_GeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q51="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q51:GeneralFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultaListaRetencaoClientes_LicensingFaultFault_FaultMessage">
    <wsdl:part xmlns:q52="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q52:LicensingFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultaListaRetencaoClientes_AccessIsDeniedFaultFault_FaultMessage">
    <wsdl:part xmlns:q53="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q53:AccessIsDeniedFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultaListaRetencaoClientes_BusinessFaultFault_FaultMessage">
    <wsdl:part xmlns:q54="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q54:BusinessFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultaListaRetencaoInstitucional_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaListaRetencaoInstitucional" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultaListaRetencaoInstitucional_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaListaRetencaoInstitucionalResponse" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultaListaRetencaoInstitucional_GeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q55="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q55:GeneralFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultaListaRetencaoInstitucional_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q56="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q56:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultaListaRetencaoInstitucional_LicensingFaultFault_FaultMessage">
    <wsdl:part xmlns:q57="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q57:LicensingFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultaListaRetencaoInstitucional_BusinessFaultFault_FaultMessage">
    <wsdl:part xmlns:q58="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q58:BusinessFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultaListaRetencaoInstitucional_AccessIsDeniedFaultFault_FaultMessage">
    <wsdl:part xmlns:q59="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q59:AccessIsDeniedFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultaListaRetencaoInstitucional_InvalidSessionFaultFault_FaultMessage">
    <wsdl:part xmlns:q60="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q60:InvalidSessionFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultarDadosClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDadosClientes" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultarDadosClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDadosClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultarDadosClientes_AccessIsDeniedFaultFault_FaultMessage">
    <wsdl:part xmlns:q61="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q61:AccessIsDeniedFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultarDadosClientes_GeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q62="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q62:GeneralFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultarDadosClientes_BusinessFaultFault_FaultMessage">
    <wsdl:part xmlns:q63="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q63:BusinessFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultarDadosClientes_InvalidSessionFaultFault_FaultMessage">
    <wsdl:part xmlns:q64="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q64:InvalidSessionFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultarDadosClientes_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q65="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q65:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultarDadosClientes_LicensingFaultFault_FaultMessage">
    <wsdl:part xmlns:q66="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q66:LicensingFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultarDadosInstituicoes_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDadosInstituicoes" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultarDadosInstituicoes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarDadosInstituicoesResponse" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultarDadosInstituicoes_BusinessFaultFault_FaultMessage">
    <wsdl:part xmlns:q67="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q67:BusinessFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultarDadosInstituicoes_ValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q68="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q68:ValidationFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultarDadosInstituicoes_GeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q69="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q69:GeneralFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultarDadosInstituicoes_InvalidSessionFaultFault_FaultMessage">
    <wsdl:part xmlns:q70="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q70:InvalidSessionFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultarDadosInstituicoes_LicensingFaultFault_FaultMessage">
    <wsdl:part xmlns:q71="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q71:LicensingFault" />
  </wsdl:message>
  <wsdl:message name="IConsultaEFD_ConsultarDadosInstituicoes_AccessIsDeniedFaultFault_FaultMessage">
    <wsdl:part xmlns:q72="http://www.sinacor.com.br/Sinacor.Infra.Common.Exceptions.FaultContracts" name="detail" element="q72:AccessIsDeniedFault" />
  </wsdl:message>
  <wsdl:portType name="IConsultaEFD">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="Authenticate" message="tns:IConsultaEFD_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/AuthenticateResponse" message="tns:IConsultaEFD_Authenticate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/AuthenticateInvalidSessionFaultFault" name="InvalidSessionFaultFault" message="tns:IConsultaEFD_Authenticate_InvalidSessionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/AuthenticateGeneralFaultFault" name="GeneralFaultFault" message="tns:IConsultaEFD_Authenticate_GeneralFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/AuthenticateBusinessFaultFault" name="BusinessFaultFault" message="tns:IConsultaEFD_Authenticate_BusinessFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/AuthenticateValidationFaultFault" name="ValidationFaultFault" message="tns:IConsultaEFD_Authenticate_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/AuthenticateLicensingFaultFault" name="LicensingFaultFault" message="tns:IConsultaEFD_Authenticate_LicensingFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/AuthenticateAccessIsDeniedFaultFault" name="AccessIsDeniedFaultFault" message="tns:IConsultaEFD_Authenticate_AccessIsDeniedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate2">
      <wsdl:input wsaw:Action="Authenticate2" message="tns:IConsultaEFD_Authenticate2_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate2Response" message="tns:IConsultaEFD_Authenticate2_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate2LicensingFaultFault" name="LicensingFaultFault" message="tns:IConsultaEFD_Authenticate2_LicensingFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate2AccessIsDeniedFaultFault" name="AccessIsDeniedFaultFault" message="tns:IConsultaEFD_Authenticate2_AccessIsDeniedFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate2BusinessFaultFault" name="BusinessFaultFault" message="tns:IConsultaEFD_Authenticate2_BusinessFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate2ValidationFaultFault" name="ValidationFaultFault" message="tns:IConsultaEFD_Authenticate2_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate2GeneralFaultFault" name="GeneralFaultFault" message="tns:IConsultaEFD_Authenticate2_GeneralFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate2InvalidSessionFaultFault" name="InvalidSessionFaultFault" message="tns:IConsultaEFD_Authenticate2_InvalidSessionFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate3">
      <wsdl:input wsaw:Action="Authenticate3" message="tns:IConsultaEFD_Authenticate3_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate3Response" message="tns:IConsultaEFD_Authenticate3_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate3ValidationFaultFault" name="ValidationFaultFault" message="tns:IConsultaEFD_Authenticate3_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate3BusinessFaultFault" name="BusinessFaultFault" message="tns:IConsultaEFD_Authenticate3_BusinessFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate3GeneralFaultFault" name="GeneralFaultFault" message="tns:IConsultaEFD_Authenticate3_GeneralFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate3InvalidSessionFaultFault" name="InvalidSessionFaultFault" message="tns:IConsultaEFD_Authenticate3_InvalidSessionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate3LicensingFaultFault" name="LicensingFaultFault" message="tns:IConsultaEFD_Authenticate3_LicensingFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate3AccessIsDeniedFaultFault" name="AccessIsDeniedFaultFault" message="tns:IConsultaEFD_Authenticate3_AccessIsDeniedFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate4">
      <wsdl:input wsaw:Action="Authenticate4" message="tns:IConsultaEFD_Authenticate4_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate4Response" message="tns:IConsultaEFD_Authenticate4_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate4AccessIsDeniedFaultFault" name="AccessIsDeniedFaultFault" message="tns:IConsultaEFD_Authenticate4_AccessIsDeniedFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate4BusinessFaultFault" name="BusinessFaultFault" message="tns:IConsultaEFD_Authenticate4_BusinessFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate4LicensingFaultFault" name="LicensingFaultFault" message="tns:IConsultaEFD_Authenticate4_LicensingFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate4InvalidSessionFaultFault" name="InvalidSessionFaultFault" message="tns:IConsultaEFD_Authenticate4_InvalidSessionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate4ValidationFaultFault" name="ValidationFaultFault" message="tns:IConsultaEFD_Authenticate4_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate4GeneralFaultFault" name="GeneralFaultFault" message="tns:IConsultaEFD_Authenticate4_GeneralFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate5">
      <wsdl:input wsaw:Action="Authenticate5" message="tns:IConsultaEFD_Authenticate5_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate5Response" message="tns:IConsultaEFD_Authenticate5_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate5BusinessFaultFault" name="BusinessFaultFault" message="tns:IConsultaEFD_Authenticate5_BusinessFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate5ValidationFaultFault" name="ValidationFaultFault" message="tns:IConsultaEFD_Authenticate5_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate5LicensingFaultFault" name="LicensingFaultFault" message="tns:IConsultaEFD_Authenticate5_LicensingFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate5AccessIsDeniedFaultFault" name="AccessIsDeniedFaultFault" message="tns:IConsultaEFD_Authenticate5_AccessIsDeniedFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate5InvalidSessionFaultFault" name="InvalidSessionFaultFault" message="tns:IConsultaEFD_Authenticate5_InvalidSessionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate5GeneralFaultFault" name="GeneralFaultFault" message="tns:IConsultaEFD_Authenticate5_GeneralFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate6">
      <wsdl:input wsaw:Action="Authenticate6" message="tns:IConsultaEFD_Authenticate6_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate6Response" message="tns:IConsultaEFD_Authenticate6_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate6AccessIsDeniedFaultFault" name="AccessIsDeniedFaultFault" message="tns:IConsultaEFD_Authenticate6_AccessIsDeniedFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate6GeneralFaultFault" name="GeneralFaultFault" message="tns:IConsultaEFD_Authenticate6_GeneralFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate6BusinessFaultFault" name="BusinessFaultFault" message="tns:IConsultaEFD_Authenticate6_BusinessFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate6ValidationFaultFault" name="ValidationFaultFault" message="tns:IConsultaEFD_Authenticate6_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate6LicensingFaultFault" name="LicensingFaultFault" message="tns:IConsultaEFD_Authenticate6_LicensingFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.Infra.Service.Security.Services/IBaseServiceContract/Authenticate6InvalidSessionFaultFault" name="InvalidSessionFaultFault" message="tns:IConsultaEFD_Authenticate6_InvalidSessionFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaListaRetencaoClientes">
      <wsdl:input wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultaListaRetencaoClientes" message="tns:IConsultaEFD_ConsultaListaRetencaoClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultaListaRetencaoClientesResponse" message="tns:IConsultaEFD_ConsultaListaRetencaoClientes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultaListaRetencaoClientesValidationFaultFault" name="ValidationFaultFault" message="tns:IConsultaEFD_ConsultaListaRetencaoClientes_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultaListaRetencaoClientesInvalidSessionFaultFault" name="InvalidSessionFaultFault" message="tns:IConsultaEFD_ConsultaListaRetencaoClientes_InvalidSessionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultaListaRetencaoClientesGeneralFaultFault" name="GeneralFaultFault" message="tns:IConsultaEFD_ConsultaListaRetencaoClientes_GeneralFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultaListaRetencaoClientesLicensingFaultFault" name="LicensingFaultFault" message="tns:IConsultaEFD_ConsultaListaRetencaoClientes_LicensingFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultaListaRetencaoClientesAccessIsDeniedFaultFault" name="AccessIsDeniedFaultFault" message="tns:IConsultaEFD_ConsultaListaRetencaoClientes_AccessIsDeniedFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultaListaRetencaoClientesBusinessFaultFault" name="BusinessFaultFault" message="tns:IConsultaEFD_ConsultaListaRetencaoClientes_BusinessFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaListaRetencaoInstitucional">
      <wsdl:input wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultaListaRetencaoInstitucional" message="tns:IConsultaEFD_ConsultaListaRetencaoInstitucional_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultaListaRetencaoInstitucionalResponse" message="tns:IConsultaEFD_ConsultaListaRetencaoInstitucional_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultaListaRetencaoInstitucionalGeneralFaultFault" name="GeneralFaultFault" message="tns:IConsultaEFD_ConsultaListaRetencaoInstitucional_GeneralFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultaListaRetencaoInstitucionalValidationFaultFault" name="ValidationFaultFault" message="tns:IConsultaEFD_ConsultaListaRetencaoInstitucional_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultaListaRetencaoInstitucionalLicensingFaultFault" name="LicensingFaultFault" message="tns:IConsultaEFD_ConsultaListaRetencaoInstitucional_LicensingFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultaListaRetencaoInstitucionalBusinessFaultFault" name="BusinessFaultFault" message="tns:IConsultaEFD_ConsultaListaRetencaoInstitucional_BusinessFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultaListaRetencaoInstitucionalAccessIsDeniedFaultFault" name="AccessIsDeniedFaultFault" message="tns:IConsultaEFD_ConsultaListaRetencaoInstitucional_AccessIsDeniedFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultaListaRetencaoInstitucionalInvalidSessionFaultFault" name="InvalidSessionFaultFault" message="tns:IConsultaEFD_ConsultaListaRetencaoInstitucional_InvalidSessionFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarDadosClientes">
      <wsdl:input wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultarDadosClientes" message="tns:IConsultaEFD_ConsultarDadosClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultarDadosClientesResponse" message="tns:IConsultaEFD_ConsultarDadosClientes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultarDadosClientesAccessIsDeniedFaultFault" name="AccessIsDeniedFaultFault" message="tns:IConsultaEFD_ConsultarDadosClientes_AccessIsDeniedFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultarDadosClientesGeneralFaultFault" name="GeneralFaultFault" message="tns:IConsultaEFD_ConsultarDadosClientes_GeneralFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultarDadosClientesBusinessFaultFault" name="BusinessFaultFault" message="tns:IConsultaEFD_ConsultarDadosClientes_BusinessFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultarDadosClientesInvalidSessionFaultFault" name="InvalidSessionFaultFault" message="tns:IConsultaEFD_ConsultarDadosClientes_InvalidSessionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultarDadosClientesValidationFaultFault" name="ValidationFaultFault" message="tns:IConsultaEFD_ConsultarDadosClientes_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultarDadosClientesLicensingFaultFault" name="LicensingFaultFault" message="tns:IConsultaEFD_ConsultarDadosClientes_LicensingFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarDadosInstituicoes">
      <wsdl:input wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultarDadosInstituicoes" message="tns:IConsultaEFD_ConsultarDadosInstituicoes_InputMessage" />
      <wsdl:output wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultarDadosInstituicoesResponse" message="tns:IConsultaEFD_ConsultarDadosInstituicoes_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultarDadosInstituicoesBusinessFaultFault" name="BusinessFaultFault" message="tns:IConsultaEFD_ConsultarDadosInstituicoes_BusinessFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultarDadosInstituicoesValidationFaultFault" name="ValidationFaultFault" message="tns:IConsultaEFD_ConsultarDadosInstituicoes_ValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultarDadosInstituicoesGeneralFaultFault" name="GeneralFaultFault" message="tns:IConsultaEFD_ConsultarDadosInstituicoes_GeneralFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultarDadosInstituicoesInvalidSessionFaultFault" name="InvalidSessionFaultFault" message="tns:IConsultaEFD_ConsultarDadosInstituicoes_InvalidSessionFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultarDadosInstituicoesLicensingFaultFault" name="LicensingFaultFault" message="tns:IConsultaEFD_ConsultarDadosInstituicoes_LicensingFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://www.bovespa.com.br/Sinacor.InformacaoApoio.Integration.Service.Owner.Public.Contracts.EFD.IntegrationService/IConsultaEFD/ConsultarDadosInstituicoesAccessIsDeniedFaultFault" name="AccessIsDeniedFaultFault" message="tns:IConsultaEFD_ConsultarDadosInstituicoes_AccessIsDeniedFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>